{% extends 'base.html' %}
{% load static %}


{% block title %}Regmarket | Averges{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/averges.css' %}">
{% endblock extra_css %}


{% block back_button %}
    <div class="back_button" onclick="window.location.href = '{% url 'statisitics' %}' ">
        <img src="{% static 'css/svgs/back_icon.svg' %}" alt="back_icon">
    </div>
{% endblock back_button %}


{% block content %}
        <div class="header">
            <div class="header_background">
                <h1 id="h1_avarge">Averge: </h1>
            </div>
        </div>

    <div class="wrapper">
        <div class="container">
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/averges.js' %}"></script>
{% endblock extra_js %}
