{% extends "base.html" %}

{% load static %}


{% block title %}RegMarket | Customers{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'include/sidebar.css' %}">
{% endblock extra_css %}


{% block back_button %}
    <div class="back_button" onclick="window.location.href = '{% url 'peoples' %}' ">
        <img src="{% static 'css/svgs/back_icon.svg' %}" alt="back_icon">
    </div>
{% endblock back_button %}


{% block confirm_delete %}
    {% include 'parts/confirm_delete.html' %}
{% endblock confirm_delete %}


{% block content %}
    <div class="add_item">
        <div class="items_container">   

            <form action="" method="post">
                {% csrf_token %}

                <h1>add new customer</h1>

                {{form}}

                <button type="submit" id="submit_button" class="submit_button">
                {% if is_update %}Update{% else %}Add{% endif %}</button>
            
                <button onclick='delete_all()' type="button" id="delete_all_button" class="delete_all_button">Delete All (...)</button>

                <input onkeyup="search_customer()" id="search_input" type="text" placeholder="search">
                    <div class="search_buttons">
                        <button type="button" onclick="search_mode_name()" id="name_search_button" class="searchByName">Search by name</button>
                        <button type="button" onclick="search_mode_surname()" id="surname_search_button" class="searchBySurname">Search by surname</button>
                    </div>
            </form>

            <table>
                <thead class="items_thead">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>surname</th>
                        <th>birthdate</th>
                        <th>gender</th>
                        <th>join-date</th>
                        <th>local-id</th>
                        <th>update</th>
                        <th>delete</th>
                    </tr>
                </thead>
                
                <tbody class="items_tbody">
                </tbody>

            </table>   
        </div>
    </div>
{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/customer.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}




