body{
    color: #fff;
    background-color: #dff;
}

.container{
    box-shadow: 1px 1px 5px black;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    padding: 20px 0px 25px 0px;
    background-color: #055;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

}

input{
    width: 80%;
    height: 30px;
    background: #044;
    border: #fff5 1px solid;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 29px
}






.container table {
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
}

.items_thead th {
    padding: 10px 0px;
    text-align: center;


    width: 25%;
}

.items_tbody tr {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #044;
}

.items_tbody tr td{
    padding: 10px 0px;
    border: #fff3 1px solid;
    border-top: #fff 1px solid;
}

.tbody_tr:hover{
    background: #033;
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.2s;
}

#add_change_input:hover, #dollar_input:hover{
    cursor: pointer;
    background: #033;
    transform: scale(1.01);
    transition: 0.2s;
}

#add_change_input{
    width: 75%;
}

.edit_value_div{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: auto;
}
#edit_button{
    width: 16%;
    height: 40px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    color: white;
    background: #076;
    font-size: 23px;
}
#edit_button:hover{
    cursor: pointer;
    background: #065;
    transform: scale(1.03);
    transition: 0.2s;
}

#new_value_input{
    display: none;
    margin: auto;
}

/* بداية زر الرجوع */
.back_button{
    position: fixed;
    background-color: #154;
    border-radius: 0px 0px 10px 0px;
    top: 0;
    left: 0;  
    width: 70px;
    height: 65px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
    border: solid 2px #043;
    z-index: 99;
}

.back_button:hover{
    background-color: #043;
    transform: scale(1.05);
}
/* نهاية زر الرجوع */

