body{
    color: #fff;
    background-color: #dff;
}


.items_container{
    width: 80%;
    margin: auto;
}

.add_item{
    box-shadow: 1px 1px 5px black;
    width: 80%;
    height: fit-content;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 0px 40px 0px;
    background-color: #055;

}

h1{
    margin: auto;
    width: fit-content;
}

input{

    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin: 5px;
    background: #033;
    color: white;
}
input::placeholder{

    font-size: 20px;
    padding: 10px;

}

.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_thead th {
    padding: 10px 0px;
    text-align: center;
}

.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_tbody tr {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #044;
}

.items_tbody tr td{
    padding: 10px 0px;
}

.number_input{
    width: 100%;
    margin: 3px 0px 0px 20px;
}

button{
    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin: 5px;
    background: #076;
    color: white;
    transition: 0.2s;
}

.submit_button:hover, .delete_all_button:hover, .searchByName:hover, .searchBySurname:hover{
    background: #065;
    transform: scale(1.01)
}

.total_button{
    width: fit-content;
    padding: 3px 3px 3px 4px;
    background: #800;
}

.update, .delete{
    width: 85%;
    font-size: 18px;
    padding: 5px;
    background-color: #078;
    transition: 0.1s;

}

.update:hover, .delete:hover{
    transform: scale(1.05);
    background-color: #056;
}
h2{
    width: fit-content;
    display: inline-block;
}

.inputs{
    display: flex;
   
    background: #044;
    padding: 10px;
    border-radius: 10px;
}

#available_range{
    width: 60%;
    margin: 0 10px
}

#hours_range{
    width: 50px;
}

#male_radio, #female_radio{
    margin: 0px 0px 0px 60px;
    padding: 0;
    width: 40px;

}

#male_radio{
    accent-color: #00f;
}

#female_radio{
   accent-color: #f0f;
}

#search_input{
    margin-top: 20px;
}

.searchByName{
    background: #043;
}

.searchByName, .searchBySurname{
    width: 40%;
    padding: 0;
    margin:0px 0px 0px 10px;
}

.search_buttons{
    display: flex;
    justify-content: space-between;
}

/* تأكيد حذف العناصر */
.sure_delete{
    display: none;
    position: fixed;
    background-color: #7775;
    width: 60%;
    height: 40%;
    top: 30%;
    left: 20%;
    border-radius: 10px;
    z-index: 102;
}.sure_delete h1{
    padding: 30px;
}#sure_yes{
    background: #0a0;
}#sure_no{
    background: #a00;
}#sure_yes:hover{
    background: #080;
}#sure_no:hover{
    background: #800;
}.sure_buttons{
    text-align: center;
    padding:10px 0px 20px 0px;
    width: 30%;
    height: 16%;
    margin: 50px 0px 0px 12.5%;
    transition: 0.2s;
}.blur_screen{
    display: none;
    position:fixed;
    backdrop-filter: blur(3px);
    background: #000e;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 101;
}.back_button{
    position: fixed;
    background-color: #154;
    border-radius: 0px 0px 10px 0px;
    top: 0;
    left: 0;  
    width: 70px;
    height: 65px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
    border: solid 2px #043;
    z-index: 99;
}.back_button:hover{
    background-color: #043;
    transform: scale(1.05);
}
/* نهاية تأكيد حذف العناصر */
