body{
    color: #fff;
    background-color: #dff;
}

.container{
    width: 90%;
    margin: auto;
    
}

.header{
    background-color: #177;
    height: fit-content;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 20px black;
    padding: 10px;
}
.header_name{
    
    padding: 20px;
}

.body_name{
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

.items_content{
    width: 28%;
    background: #066;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: 0.1s;
}

.items_content:hover{
    transform: scale(1.02);
}

.sidebar{
    background-color: red;
    width: 10px;
    height: 10px;
}

#customer_name h3{
    color: rgb(0, 238, 255);
}
#items_total span{
    color: #0b0;
}


.items_container{
    width: 90%;
    margin: auto;
}

.add_item{
    box-shadow: 1px 1px 5px black;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 0px 40px 0px;
    background-color: #055;
    text-align: center;

}

input{

    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #033;
    color: white;
}
input::placeholder{

    font-size: 20px;
    padding: 10px;
}


.numbers_div{
    display: flex;
    justify-content: space-between;
}

.number_inputs{
    margin: 10px 0px;
    width: 32%;
}


.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_thead th {
    padding: 10px 0px;
    text-align: center;
}

.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_tbody tr {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #044;
}

.items_tbody tr td{
    padding: 10px 0px;
}


button{
    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin:10px 0px;
    background: #076;
    color: white;
    transition: 0.2s;
}

button:hover{
    background: #065;
    transform: scale(1.01);
    cursor: pointer;
}

input::placeholder{
    font-size: 20px;
    padding: 10px;
}

#search_input{
    margin: 10px 0px 0px 0px;
}

#count_input{
    margin-top: 10px;
}

.search_div{
    display: flex;
    justify-content: space-between;
}

#search_by_id, #search_by_name{
    width: 45%;
}

#search_by_id{
    background: #044;
}
.update, .delete{
    margin: 0px;
    width: 90%;
    font-size: 100%;
}

.search_resualt_tr:hover{
    background-color: #033;
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.2s;
}


.customer_tbody tr {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #044;
}

.customer_tbody tr td{
    padding: 10px 0px;
}
.customer_tbody .tbody_tr:hover{
    background-color: #033;
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.2s;
}

#customer_search_input{
    margin: 10px 0px;
}

.customer_thead{
    display: none;
}

.customer_tbody{
    display: none;
}

#items_total:hover{
    cursor: pointer;
}

.copyright_container {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    font-size: 17px;
    font-weight: 700;

    color: black;
}

.copyright_container a {
    color: blue;
    font-weight: 500;
}
