/* بداية زر الرجوع */
.back_button{
    position: fixed;
    background-color: #154;
    border-radius: 0px 0px 10px 0px;
    top: 0;
    left: 0;  
    width: 70px;
    height: 65px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
    border: solid 2px #043;
    z-index: 99;
}

.back_button:hover{
    background-color: #043;
    transform: scale(1.05);
}
/* نهاية زر الرجوع */


/* تأكيد حذف العناصر */
.sure_delete{
    display: none;
    position: fixed;
    background-color: #7775;
    width: 60%;
    height: 40%;
    top: 30%;
    left: 20%;
    border-radius: 10px;
    z-index: 102;
}.sure_delete h1{
    padding: 30px;
}#sure_yes{
    background: #0a0;
}#sure_no{
    background: #a00;
}#sure_yes:hover{
    background: #080;
}#sure_no:hover{
    background: #800;
}.sure_buttons{
    text-align: center;
    padding:10px 0px 20px 0px;
    width: 30%;
    height: 16%;
    margin: 12.5% 0px 0px 12.5%;
    font-size: 27px;
    transition: 0.2s;
}.blur_screen{
    display: none;
    position:fixed;
    backdrop-filter: blur(3px);
    background: #000e;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 101;
}.back_button{
    position: fixed;
    background-color: #154;
    border-radius: 0px 0px 10px 0px;
    top: 0;
    left: 0;  
    width: 70px;
    height: 65px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
    border: solid 2px #043;
    z-index: 99;
}.back_button:hover{
    background-color: #043;
    transform: scale(1.05);
}
/* نهاية تأكيد حذف العناصر */
