body{
    color: #fff;
    background-color: #dff;
}

.items_container{
    width: 90%;
    margin: auto;
}

.add_item{
    box-shadow: 1px 1px 5px black;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 0px 40px 0px;
    background-color: #055;

}

h1{
    margin: auto;
    width: fit-content;
}

input{

    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin: 5px;
    background: #033;
    color: white;
}
input::placeholder{

    font-size: 20px;
    padding: 10px;
}

.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_thead th {
    padding: 10px 0px;
    text-align: center;
}

.items_container table {
    width: 100%;
    border-collapse: collapse;
}

.items_tbody tr {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #044;
}

.items_tbody tr td{
    padding: 10px 0px;
}

.number_input{
    width: 25%;
    margin: 2px;
}

button{
    font-size: 22px;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin: 5px;
    background: #097460;
    color: white;
    transition: 0.2s;
}

.submit_button:hover{
    background: #065;
    transform: scale(1.01)
}

.total_button{
    width: fit-content;
    padding: 3px 3px 3px 4px;
    background: #800;
}

.update, .delete{
    width: 80%;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    background-color: #078;
    transition: 0.1s;
    border-radius: 10px;
    height: 40px;
}

.update:hover, .delete:hover{
    transform: scale(1.05);
    background-color: #056;
    
}

a {
    all: unset;
    cursor: pointer;
}

.section_name_h2 {
    width: fit-content;
    margin: 10px auto;
    color: #fffd;

}