body{
    color: #fff;
    background-color: #dff;
}

.items_container{
    width: 80%;
    margin: auto;
}

.add_item{
    box-shadow: 1px 1px 5px black;
    width: 80%;
    height: fit-content;
    margin: 100px auto;
    border-radius: 20px;
    padding: 20px 0px 50px 0px;
    background-color: #055;
}

h1{
    padding: 20px;
    margin: auto;
    width: fit-content;
}

button{
    font-size: 33px;
    width: 100%;
    height: 100px;
    border-radius: 7px;
    border: none;
    margin: 30px 5px;
    background: #076;
    color: white;
    border: solid 1px #fff5;
    transition: 0.2s;
}

button:hover{
    background: #065;
    transform: scale(1.02);
}