body{
    color: #fff;
    background-color: #dff;
}

.container{
    box-shadow: 1px 1px 5px black;
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    padding: 20px 0px 25px 0px;
    background-color: #055;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

}



.container table {
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
}

.items_thead th {
    padding: 10px 0px;
    text-align: center;


    width: 25%;
}

.items_tbody tr {
    padding: 10px 0px;
    text-align: left;

    background-color: #044;
}

.items_tbody tr td{
    padding: 10px 10px;
    border-top: #fff3 1px solid;
}

.tbody_tr:hover{
    background: #033;
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.2s;
}

#add_change_input:hover, #dollar_input:hover{
    cursor: pointer;
    background: #033;
    transform: scale(1.01);
    transition: 0.2s;
}

#add_change_input{
    width: 75%;
}

.edit_value_div{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: auto;
}
#edit_button{
    width: 20%;
    height: 40px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    color: white;
    background: #076;
    font-size: 23px;
}
#edit_button:hover{
    cursor: pointer;
    background: #065;
    transform: scale(1.03);
    transition: 0.2s;
}

#new_value_input{
    display: none;
    margin: auto;
}


#space_re_se td{
    background: #055;
    text-align: center;
    padding: 20px 0px 5px 0px;
    font-size: 24px;
    border: none;
}